@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --bg-clr: #0C2C55;
    --font-clr: #EDEDCE;
    --secondary-font: #BDE8F5;
    --blue-sub: #4988C4;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-clr);
    color: var(--font-clr);
    text-align: center;
}
.main {
    display: grid;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    background-color: transparent;
    width: 100%;
    align-items: center;
}
.card {
    margin: 30px;
    max-width: 400px;
    background-color: var(--blue-sub);
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 20px;
}
.card h1 {
    font-size: 20px;
    grid-column: 1/-1;
    color: var(--secondary-font);
    overflow-wrap: break-word;
}
.card i {
    font-size: 17px;
    margin-right: 10px;
    color: var(--secondary-font);
    display: inline;
}
.card p {
    font-size: 17px;
}
#weather {
    text-transform: capitalize;
}
#result {
    grid-column: 1/-1;
    overflow-wrap: break-word;
}
footer {
    background-color: var(--blue-sub);
    color: var(--font-clr);
    font-size: 15px;
    width: 100%;
    padding: 30px;
    font-style: italic;
}
footer a {
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-font);
    color: var(--secondary-font);
}
@media (max-width: 380px) {
    .card {
        margin: 15px;  
        padding: 20px; 
        gap: 15px;     
    }
    .card p {
        font-size: 13px;
    }
    .card h1 {
        font-size: 15px;
    }
    .card i {
        font-size: 15px; 
    }
    footer {
        font-size: 10px;
    }
}