@media (max-width: 992px) {
  #all {
    height: auto;
  }
  .rows {
    padding: 20px 10px;
    gap: 40px;
  }
  .row-1,
  .row-2,
  .row-3,
  .row-4, .experience {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .bg-1 {
    height: 15vh;
  }
  header {
    padding: 20px 5px;
  }
  header ul {
    gap: 10px;
  }
  header a {
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
  aside {
    width: 100%;
    margin-bottom: 30px;
  }
  aside img {
    height: 80px;
    transform: translateY(-40px);
  }
  section h1 {
    border: none;
  }
  .about-container {
    grid-template-columns: auto 1fr;
    gap: 15px;
    padding: 0 20px 20px 20px;
    text-align: left;
  }
  aside p,
  aside i {
    padding: 5px;
    font-size: 16px;
    margin: 0;
  }

  section {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  section h1 {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  section p {
    font-size: 16px;
    text-align: justify;
  }
  section img.swing {
    display: none;
  }

  #skills {
    max-width: 100%;
  }
  .skill-bar {
    margin-bottom: 30px;
  }
  .json-div {
    display: flex;
    justify-content: center;
  }
  #row3-header {
    font-size: 28px;
  }
  footer a {
    font-size: 24px;
    margin: 10px;
  }
  footer h6 {
    font-size: 18px;
  }
}
@media (max-width: 376px) {
    header a {
    font-size: 12px;
    padding: 8px;
  }
}